<wm-page layouttype="blank" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-composite widget="text" name="composite1" accessroles="1,2">
                    <wm-label class="col-md-2" name="label1" accessroles="1,2"></wm-label>
                    <wm-text name="text1" accessroles="1,2"></wm-text>
                </wm-composite>
                <wm-button name="button5" accessroles="1,4"></wm-button>
                <wm-calendar name="calendar1" accessroles="1,3"></wm-calendar>
                <wm-composite widget="time" name="composite2" accessroles="1,5">
                    <wm-label class="col-md-2" name="label2" accessroles="1,5"></wm-label>
                    <wm-time name="time1" accessroles="1,5"></wm-time>
                </wm-composite>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>