<wm-page layouttype="blank" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-composite widget="textarea" name="composite1" accessroles="1,2">
                    <wm-label class="col-md-2" name="label1" accessroles="1,2"></wm-label>
                    <wm-textarea name="textarea1" accessroles="1,2"></wm-textarea>
                </wm-composite>
                <wm-composite widget="select" name="composite2" accessroles="1">
                    <wm-label class="col-md-2" name="label2" accessroles="1,4"></wm-label>
                    <wm-select name="select1" accessroles="1,4"></wm-select>
                </wm-composite>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>