<wm-page layouttype="blank" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-composite widget="time" name="composite1" accessroles="admin,role4">
                    <wm-label class="col-md-2" name="label1"></wm-label>
                    <wm-time name="time1"></wm-time>
                </wm-composite>
                <wm-composite widget="currency" name="composite2" accessroles="admin,role4">
                    <wm-label class="col-md-2" name="label2"></wm-label>
                    <wm-currency name="currency1"></wm-currency>
                </wm-composite>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>