<wm-page layouttype="blank" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-button name="button1" caption="Page1" on-click="goToPage-Page1"></wm-button>
                <wm-button name="button2" on-click="goToPage-Page2" caption="Page2"></wm-button>
                <wm-button name="button3" caption="Page3" on-click="goToPage-Page3"></wm-button>
                <wm-button name="button4" caption="Page4" on-click="goToPage-Page4"></wm-button>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>