<wm-page layouttype="blank" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-composite widget="date" name="composite1" accessroles="admin,role3">
                    <wm-label class="col-md-2" name="label1"></wm-label>
                    <wm-date name="date1"></wm-date>
                </wm-composite>
                <wm-calendar name="calendar1" accessroles="admin,role3"></wm-calendar>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>